<div class="container-fluid text-center my-5 ex-prod">
    <i class="bi bi-dropbox icon-top"></i>
    <h1 class="mb-3 titulo">Listar Produtos</h1>
    {{#if table}}
    <div class="table-responsive">
        <table class="table table-striped align-middle">
        <thead class="table-dark">
            <tr class="align-middle">
                <th scope="col"><i class="bi bi-list-ol"></i> ID</th>
                <th scope="col"><i class="bi bi-box-fill"></i> Produto</th>
                <th scope="col"><i class="bi bi-body-text"></i> Descrição</th>
                <th scope="col"><i class="bi bi-currency-dollar"></i></i> Preço</th>
                <th scope="col"><i class="bi bi-star-fill"></i> Vitrine</th>
                <th scope="col"><i class="bi bi-camera2"></i> Foto</th>
                <th scope="col"><i class="bi bi-database-fill"></i> Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each produtos}}
            <tr class="">
                <th scope="row">{{id}}</th>
                <td>{{nome}}</td>
                <td>{{descricao}}</td>
                <td>{{preco}}</td>
                <td>{{vitrine}}</td>
                <td><img src="{{foto}}" alt="" class="ex-prod-foto"></td>
                <td>
                    <div class="row g-1">
                        <div class="w-100">
                             <form action="/editar_prods" method="post">
                                <input type="hidden" name="id"  value="{{id}}">
                                 <button class="btn botao-hero"><i class="bi bi-arrow-clockwise me-1"></i>Editar</button>
                             </form>
                        </div>
                        <div class="">
                                <form action="/excluir_prods" method="post">
                                <input type="hidden" name="id"  value="{{id}}">
                                <button class="btn botao"><i class="bi bi-trash3-fill me-1"></i>Excluir</button>
                             </form>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    {{else}}
    <div class="card mt-4">
        <div class="card-body">
            Nenhum produto encontrado!
        </div>
    </div>
    {{/if}}
</div>